<html>
<head>
   <!-- The param which is passed from render-->
   <title><%= title %></title>
</head>
<body>
<div>
   <a href="/">Home</a> |
   <a href="/store/add">Add item</a> |
    <a href="/store">All items</a>
</div>
<h1><%= title %></h1>
